.footer {
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 60px;

  font-size: 18px;
  font-weight: 700;
  line-height: 100%;

  box-shadow: -2px 0 8px rgba(0, 0, 0, 0.1);
}
