.select {
  position: relative;
  align-self: center;
  
  color: var(--text-color-secondary);
  cursor: pointer;
}

.select:focus-visible {
  border-radius: 6px;
}

.select__large {
  min-width: 240px;

  font-size: 16px;
  line-height: 19px;
}

.select__small {
  min-width: 94px;

  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.25px;
}

.select__disabled {
  opacity: 0.5;
  cursor: default;
}

.select__arrow {
  transition: transform 0.5s;
}

.select__large .select__arrow {
  width: 10px;
  height: 6px;
}

.select__small .select__arrow {
  width: 5px;
  height: 3px;
}

.select__arrow--open {
  transform: rotate(180deg);
}

.select__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  border: 1px solid var(--border-color);
  border-radius: 6px;
  background-color: #fff;
}

.select__large .select__wrapper {
  padding: 15px;
}

.select__small .select__wrapper {
  padding: 2px 5px;
}

.select__label {
  display: flex;
  align-items: center;
  gap: 5px;
}

.select__options {
  position: absolute;
  left: 0;
  right: 0;
  top: calc(100% + 8px);
  padding: 0;

  border: 1px solid var(--border-color);
  border-radius: 6px;
  background-color: #fff;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  transition:
    opacity 250ms ease-in,
    visibility 200ms ease-in;
}

.select__options.opened {
  opacity: 1;
  visibility: visible;
}

.select__option {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 10px 14px;
  cursor: pointer;
}

.select__small .select__option {
  padding: 5px;
}

.select__option:hover,
.select__option--focused {
  background-color: var(--action-hover);
}
