.character-item__back {
  display: flex;
  align-items: center;
  gap: 8px;

  padding-left: 12px;

  transition: 0.3s ease-in-out;
}

.character-item__back:hover {
  color: #98989a;
}

.character-item__back-text {
  text-transform: uppercase;
  font-size: 18px;
  line-height: 1;
  font-weight: 700;
}
