.character-item__back {
  display: flex;
  gap: 8px;
  align-items: center;
  padding-left: 12px;
  transition: 0.3s ease-in-out;
}

.character-item__back:hover {
  color: #98989a;
}

.character-item__back-text {
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
}
