@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Medium.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: medium;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: bold;
  font-display: swap;
}

html,
body {
  font-family: Roboto, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;

  margin: 0;
  max-width: 100vw;
  height: 100%;
}

* {
  margin: 0;
  -webkit-tap-highlight-color: transparent;
}

img,
picture,
svg {
  display: block;
  max-width: 100%;
}

img {
  object-fit: cover;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

#root {
  height: 100%;
}
