@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Medium.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: medium;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: bold;
  font-display: swap;
}

:root {
  --text-color-main: #3F3F3F;
  --text-color-secondary: #666666;
  --border-color: #393939;
  --action-hover: rgba(0, 0, 0, 0.04);
}

html,
body {
  min-width: 1024px;
  margin: 0;
  max-width: 100vw;
  height: 100%;

  font-family: Roboto, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

* {
  margin: 0;
  -webkit-tap-highlight-color: transparent;
}

img,
picture,
svg {
  display: block;
  max-width: 100%;
}

img {
  object-fit: cover;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  color: inherit;
  cursor: pointer;
  line-height: normal;
  -moz-osx-font-smoothing: inherit;
  -webkit-font-smoothing: inherit;
}

button:disabled {
  cursor: initial;
}

button::-moz-focus-inner {
  border: 0;
  padding: 0;
}
